<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-toolbar  role="heading">
      <span><img src="../assets/images/fleur70.png" width="50px"></span>
      <span class="remaining-space"></span>
      <button mat-button (click)="sidenav.close()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>
    <nav>
      <mat-nav-list>
        <a routerLink="/home" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <mat-icon matListIcon>local_florist</mat-icon>
          <span>Accueil</span>
        </a>
        <a mat-list-item (click)="toggleMenu()">
          <mat-icon matListIcon>local_florist</mat-icon>
          <span>Fleurs et Elixirs</span>
          <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
          <mat-icon *ngIf="showMenu">expand_more</mat-icon>
        </a>
        <mat-nav-list class="sidenav-submenu" *ngIf="showMenu" >
          <a class="subCat" mat-list-item
             routerLink="/category"
             routerLinkActive="active"
             *ngFor="let category of categories"
             (click)="sidenav.close()">
            <span>{{ category?.title}}</span>
          </a>

        </mat-nav-list>
        <a routerLink="/soins" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <mat-icon matListIcon>local_florist</mat-icon>
          <span>Soins énergétiques</span>
        </a>
        <a routerLink="/ateliers" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <mat-icon matListIcon>local_florist</mat-icon>
          <span>Ateliers</span>
        </a>
        <a routerLink="/consultations" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <mat-icon matListIcon>local_florist</mat-icon>
          <span>Consultations</span>
        </a>


       </mat-nav-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  role="heading">
      <span>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>view_headline</mat-icon>
        </button>
      </span>
      <span class="remaining-space"></span>
      <span *ngIf="!isConnected()">        
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-icons-outlined">account_box</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login" routerLinkActive="active">
            <span>Se Connecter</span>
          </button>
        </mat-menu>
        <span>Non connecté</span>
      </span>
      <span *ngIf="isConnected()">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-icons">account_box</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-icons">account_box</mat-icon>
            <span>Mon Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="material-icons">close</mat-icon>
            <span>Se Déconnecter</span>
          </button>
        </mat-menu>
        <span>{{ user?.username }} </span>
      </span>
    </mat-toolbar>
    <div class="container-fluid p-0">
      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
