<div class="container-fluid">
    <div class="row">
        <div class="col p-0 entete">
            <div class="col-3 p-0 text-center logo"></div>
        </div>
    </div>
    <div>
        <app-category></app-category>
    </div>
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
    <div *ngIf="indications?.length > 1">
        <mat-form-field>
            <mat-label> Tri par émotion </mat-label>
            <mat-select>
                <mat-option *ngFor="let indication of indications"
                     routerLink="/product/indication/{{ indication.id }}"
                        [value]="indication.description">
                        {{ indication.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ngb-pagination *ngIf="products?.length > 10"
                    [collectionSize]="products?.length"
                    [(page)]="page"
                    size="sm"
                    class="d-flex justify-content-end ">
    </ngb-pagination>
    <div class="container listing">
    <div fxLayout="row wrap" >
            <div *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <div>
                    <app-image
                            [imgPath]="product.image.imgpath">
                    </app-image>
                    <div class="imgTitle" >{{ product.name}}</div>
                </div>
            </div>
    </div>

    </div>


</div>
