<div class="container-fluid">
    <div class="row">
        <div class="col p-0 entete">
            <div class="col-3 p-0 text-center logo"></div>
        </div>
    </div>

    <div>
        <app-category></app-category>
    </div>
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
    <div *ngIf="indications?.length > 1">
        <label> Tri par émotion </label>
        <select>
            <option *ngFor="let indication of indications">{{ indication.description}}</option>
        </select>
    </div>
    <div *ngFor="let product of products">
        <div>
            <app-image
                    [imgPath]="product.image.imgpath">
            </app-image>
            <div>{{ product.name}}</div>
        </div>

        <div [innerHTML]="product?.state | html"></div>
        <div [innerHTML]="product?.effect | html"></div>

    </div>
</div>
