.logo{
	background-image: url("../../../assets/images/logo300-re-naissance-claire-body.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 25vw;
}
.entete{
	background-image: url("../../../assets/images/enteteNrj_1920x400.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
}